Write a percussion track containing samples only for this existing Sonic Pi melody script:
<melodyScriptContent>
{{ melodyScriptContent }}
</melodyScriptContent>

Add a background track as per this description:
<percussionDescription>
{{ percussionDescription }}
</percussionDescription>

Use the following samples:
<percussionSamples>
{{ percussionSamples }}
</percussionSamples>

Make the percussion track complement the existing melody.
Do not use instruments. Only use samples.
Create a rich, full sound using drums, bass, synths, and pads.
Do not include the melody again; only provide the percussion part in the percussionScriptContent.
Make the percussion louder than the melody to provide a strong rhythmic foundation.